html
  head(lang='en')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title New Javascript Books Newsletter
    meta(name="description" content="Get the newsest Javascript books in your email inbox once a month.")
    link(href="styles/style.css" rel="stylesheet" media="all")
  body
    block content

  script(src="index.js")
